@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f8f8f8ff;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.AppContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: auto;
  width: 100%;
  min-height: 100vh;
  padding: 10px;
  box-sizing: border-box;
}

.Card{
  background: white;
  border: 2px solid #ddd;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  width: 90%;
  max-width: 350px; 
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.Button_Container{
  display: flex;
  flex-direction: row;
}